<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="css/style.css"> --}}
    <link rel="icon" href="img/logo final.png">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="output.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body class="flex flex-col min-h-screen font-body">
    {{!-- <div class="flex flex-col min-h-screen"> --}}
        <div class="grow">
            {{>header}}
            
            <section class="">
                <main class="mx-auto px-10 py-5 text-lg">
                    <div class=" flex grid-cols-2 gap-x-5 justify-center align-middle height: 100%">
                        best place to find collaboration for your team.
                    </div>
                </main>
            </section>
        </div>

        {{>footer}}
    {{!-- </div> --}}
</body>
</html>