<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="css/style.css"> --}}
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="icon" href="img/logo final.png">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="output.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body class="flex flex-col min-h-screen font-body bg-slate-100">
    {{!-- <div class="flex flex-col min-h-screen"> --}}
        <div class="grow">
            {{>header}}

            <nav style="@media (max-width:500px){background-color: teal;}"
                class="bg-purple-200 ease-in-out duration-700 md:flex justify-between content-around text-slate-100 px-7 md:px-14 md:py-4">
            
                <div class="flex justify-between gap-8">
                    <div class="text-md md:text-xl p-2 py-3 border-2 border-purple-200 rounded-lg hover:border-solid hover:border-purple-400 md-px-10"><button id="above" class="above_b">About</div>
                    <div class="text-md md:text-xl p-2 py-3 border-2 border-purple-200 rounded-lg hover:border-solid hover:border-purple-400 md-px-10"><button id="experience" class="experience_b">Experience</button> </div>
                    <div class="text-md md:text-xl p-2 py-3 border-2 border-purple-200 rounded-lg hover:border-solid hover:border-purple-400 md-px-10"><button id="projects" class="projects_b">Projects</button></div>
                    <div class="text-md md:text-xl p-2 py-3 border-2 border-purple-200 rounded-lg hover:border-solid hover:border-purple-400 md-px-10"><button id="contact" class="contact_b">Contact</button></div>
                </div>
            </nav>

            <div id="above-contain" class="above_b">Above</div>
            <div id="experience-contain" class="experience_b" style="display: none;">Experience</div>
            <div id="projects-contain" class="projects_b" style="display: none;">Projects</div>
            <div id="contact-contain" class="contact_b" style="display: none;">ContaCT</div>
        </div>

        {{>footer}}
    {{!-- </div> --}}
</body>
<script src="js/profile.js"></script>
</html>