<header>
    <nav style="@media (max-width:500px){background-color: teal;}"
    class="bg-purple-400 hover:bg-slate-100 ease-in-out duration-700 hover:text-black md:flex justify-between content-around text-slate-100 px-7 py-2 md:px-14 md:py-5">
      {{!-- <div class="text-xl md:text-3xl font-bold"> <img src="/public/img/logo.png" alt=""> </div> --}}
      <div class="flex justify-between gap-8">
        <div class="w-10">
          <div class="w-fit">
            <img class="p-0 m-0 h-full" src="img/logo final.png" alt="">
          </div>
        </div>
        <div class="flex justify-between gap-0.25">
          <div class="text-xl md:text-xl">Categories</div>
          <div class="p-1 align-middle">
            <span class="ico-plus">
              <svg data-accordion-icon="" class="w-6 h-6 shrink-0 rotate-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd">
                </path>
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="border-solid border-2 bg-slate-100 border-black rounded-3xl w-92">

        <div>
          <form action="">
            <input type="text" placeholder="Search..." class="rounded-3xl border-0 outline-none bg-slate-100 w-96">
          </form>
        </div>
      </div>
      <div class="text-md md:text-xl md:px-10">
        
        <ul class="md:flex list-none gap-8" id="nav-list"
          <li class="hover:underline underline-offset-8">
            <div class="flex justify-between gap-0.5">
              <div class="hover:underline underline-offset-8"><a href="http://localhost:5000">Home</a></div>
              <div class="p-0.5">
                <a href="http://localhost:5000/">
                <button><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                </svg></button></a>
              </div>
            </div>
          </li>
          <li class="hover:underline underline-offset-8">
            <div class="flex justify-between gap-0.5"><a href="main.html"><div class="hover:underline underline-offset-8">Networks</a></div>
              <div class="p-0.5">
                <button><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
              </svg></button></a>
              </div>
            </div>
          </li>
          <li class="">
            <div class="flex justify-between gap-0.5">
            <button><a href="http://localhost:5000/Login" class="hover:underline underline-offset-8">Login</a></button> /
            <button><a href="http://localhost:5000/Signup" class="hover:underline underline-offset-8">Sign up</a></button>
            <div class="p-0.5">
            {{!-- <button><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg></button> --}}</a>
          </div>
        </div>
          </li>
        </ul>
      </div>
  </nav>
</header>