<header>
    <nav style="@media (max-width:500px){background-color: teal;}"
    class="bg-blue-200 hover:bg-slate-100 ease-in-out duration-700 hover:text-black md:flex justify-between content-around text-slate-100 px-7 py-2 md:px-14 md:py-5">
      {{!-- <div class="text-xl md:text-3xl font-bold"> <img src="/public/img/logo.png" alt=""> </div> --}}
      <div class="w-20">
        <div class="w-fit">
        <img class="p-0 m-0 h-full" src="img/logo final.png" alt="">
        </div>
      </div>
      <div class="hover:underline underline-offset-8">SEARCH</div>
      <div class="text-md md:text-xl md:px-10">
        <ul class="md:flex list-none gap-8" id="nav-list">
          <li class="hover:underline underline-offset-8"><a href="index.html">Home</a></li>
          <li class="hover:underline underline-offset-8"><a href="main.html">Networks</a></li>
          <li class="">
            <button><a href="guidelogin.html" class="hover:underline underline-offset-8">Login</a></button> /
            <button><a href="guidesignup.html" class="hover:underline underline-offset-8">Sign up</a></button>
          </li>
        </ul>
      </div>
  </nav>
</header>